MONGODB_URI=
TOKEN=
APPLICATION_ID=

REDIS_ENABLE=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

TRACK_ALL_CHANNELS_BY_DEFAULT=true
UPLOAD_ATTACHMENTS=false

# Ids separated by commas and/or newlines
EXCLUDE_CHANNEL_IDS=
BANNED_USER_IDS=
